body {
  font-weight: 500 !important;
  background-color: #fff4f4 !important;
  font-size: 1.2rem !important;
  box-sizing: border-box;
  background-image: linear-gradient(to top right, #fff0f2 50%, #f3e8ff 50%); }

body.dark {
  background-image: linear-gradient(to top right, #4a1349 50%, #4d3269 50%); }

.container {
  padding: 0 100px;
  position: relative; }
  .container header nav ul.nav li.nav-item {
    margin-bottom: 15px; }
    .container header nav ul.nav li.nav-item a.nav-link {
      margin-right: 20px;
      padding: 0.5rem 1.5rem;
      border-radius: 65px;
      background-color: #f8f8f8;
      box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #ffffff; }
    .container header nav ul.nav li.nav-item a.nav-link:hover, .container header nav ul.nav li.nav-item .nav-link.active {
      color: #3271e6;
      background-color: #f8f8f8;
      box-shadow: inset 5px 5px 4px #d8d8d8, inset -5px -5px 4px #ffffff; }
  .container header .toggleSwitch {
    margin-bottom: 2em; }
    .container header .toggleSwitch .checkbox {
      opacity: 0;
      position: absolute; }
    .container header .toggleSwitch .label {
      background-color: #f8f8f8;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      position: relative;
      height: 26px;
      width: 50px;
      transform: scale(1.3);
      box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #ffffff; }
      .container header .toggleSwitch .label .fa-moon {
        color: #f1c40f; }
      .container header .toggleSwitch .label .fa-sun {
        color: #f39c12; }
      .container header .toggleSwitch .label .ball {
        background-color: #fff;
        box-shadow: inset 5px 5px 10px #c4c4c4, inset -5px -5px 10px #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 22px;
        width: 22px;
        transition: transform 0.2s linear; }
    .container header .toggleSwitch .checkbox:checked + .label .ball {
      transform: translateX(24px); }

.dark .container header .toggleSwitch .label {
  background-color: inherit;
  box-shadow: 5px 5px 8px #0c0c12, -5px -5px 8px #322e46; }
  .dark .container header .toggleSwitch .label .ball {
    background-color: #1f1d2c;
    box-shadow: inset 8px 8px 5px #0c0c12, inset -8px -8px 5px #322e46; }

.dark .container header nav ul.nav li.nav-item a.nav-link {
  background: #1f1d2c;
  box-shadow: 6px 6px 8px #0d0c12, -6px -6px 8px #312e46;
  color: #9998ff; }

.dark .container header nav ul.nav li.nav-item a.nav-link:hover, .dark .container header nav ul.nav li.nav-item .nav-link.active {
  color: #9998ff;
  background-color: #1f1d2c;
  box-shadow: inset 6px 6px 8px #0d0c12, inset -6px -6px 8px #312e46; }

main {
  min-height: 76vh; }
  main .about-container {
    position: relative;
    border-radius: 16px;
    margin-top: 5em;
    padding: 15px;
    background: #f8f8f8;
    box-shadow: 12px 12px 12px #d3d3d3, -12px -12px 12px #ffffff; }
    main .about-container .title {
      padding: 30px 20px 0 280px; }
      main .about-container .title h1 {
        font-weight: 700; }
    main .about-container .desc {
      padding: 20px 140px 50px 280px;
      font-size: 20px;
      font-weight: 400;
      text-align: justify;
      line-height: 1.8; }
      main .about-container .desc p {
        color: #44454a; }
    main .about-container .social-links {
      padding: 0 20px 0 250px; }
      main .about-container .social-links a.linkedin {
        position: absolute;
        top: 86px;
        left: 3px; }
      main .about-container .social-links a.github {
        position: absolute;
        top: 115px;
        left: 82px; }
      main .about-container .social-links a.mail {
        position: absolute;
        top: 90px;
        left: 160px; }
      main .about-container .social-links img {
        border-radius: 50%;
        width: 50px;
        padding: 10px;
        margin: 8px;
        background: linear-gradient(145deg, #ffffff, #dfdfdf);
        box-shadow: 5px 5px 6px #d0d0d0, -5px -5px 6px #ffffff; }
      main .about-container .social-links img:hover {
        background: #f8f8f8;
        box-shadow: inset 5px 5px 6px #d0d0d0, inset -5px -5px 6px #ffffff; }
  main .circle-outer {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 115px;
    left: 40px;
    border-radius: 139px;
    border-radius: 139px;
    border-radius: 139px;
    border-radius: 139px;
    background: #eef2f5;
    box-shadow: inset 5px 5px 6px #c3c6c9, inset -5px -5px 6px #ffffff; }
    main .circle-outer .circle-inner {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: relative;
      top: 16px;
      left: 16px;
      background: #eef2f5;
      box-shadow: 5px 5px 6px #c3c6c9, -5px -5px 6px #ffffff; }
      main .circle-outer .circle-inner img {
        width: inherit;
        height: inherit;
        border-radius: 50%; }

@media screen and (max-width: 992px) {
  main .about-container .title {
    padding: 88px 115px 0 358px; }
  main .about-container .desc {
    padding: 60px 40px 40px 40px; } }

@media screen and (max-width: 767px) {
  .about-container {
    margin-top: 6em !important; }
  main .about-container .title {
    padding: 88px 115px 0 293px !important; }
  .circle-outer {
    top: 190px !important; } }

@media screen and (max-width: 576px) {
  main .about-container .title {
    padding: 50px 20px 0px 250px !important; }
  main .about-container .desc {
    font-size: inherit; }
  .circle-outer {
    left: 10px !important;
    transform: scale(0.8); } }

@media screen and (max-width: 518px) {
  main .about-container .title {
    padding: 30px 20px 0px 218px !important; }
  main .about-container .desc {
    padding: 20px 25px 40px 25px; } }

body.dark .about-container {
  background: #1f1d2c;
  box-shadow: 12px 12px 12px #0c0c12, -12px -12px 12px #322e46; }
  body.dark .about-container .title {
    color: #acc3d3; }
  body.dark .about-container .desc p {
    color: #85949e; }
  body.dark .about-container .social-links img {
    background: linear-gradient(145deg, #211f2f, #1c1a28);
    box-shadow: 5px 5px 5px #0c0c12, -5px -5px 5px #322e46; }
  body.dark .about-container .social-links img:hover {
    background: inherit;
    box-shadow: inset 7px 7px 6px #0c0c12, inset -7px -7px 6px #322e46; }

body.dark .circle-outer {
  background: #1f1d2c;
  box-shadow: inset 14px 14px 27px #0c0c12, inset -14px -14px 27px #322e46; }
  body.dark .circle-outer .circle-inner {
    background: #1f1d2c;
    box-shadow: 8px 8px 10px #0c0c12, -8px -8px 10px #322e46; }
