body {
  font-weight: 500 !important;
  background-color: #fff4f4 !important;
  font-size: 1.2rem !important;
  box-sizing: border-box;
  background-image: linear-gradient(to top right, #fff0f2 50%, #f3e8ff 50%); }

body.dark {
  background-image: linear-gradient(to top right, #4a1349 50%, #4d3269 50%); }

.container {
  padding: 0 100px;
  position: relative; }
  .container header nav ul.nav li.nav-item {
    margin-bottom: 15px; }
    .container header nav ul.nav li.nav-item a.nav-link {
      margin-right: 20px;
      padding: 0.5rem 1.5rem;
      border-radius: 65px;
      background-color: #f8f8f8;
      box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #ffffff; }
    .container header nav ul.nav li.nav-item a.nav-link:hover, .container header nav ul.nav li.nav-item .nav-link.active {
      color: #3271e6;
      background-color: #f8f8f8;
      box-shadow: inset 5px 5px 4px #d8d8d8, inset -5px -5px 4px #ffffff; }
  .container header .toggleSwitch {
    margin-bottom: 2em; }
    .container header .toggleSwitch .checkbox {
      opacity: 0;
      position: absolute; }
    .container header .toggleSwitch .label {
      background-color: #f8f8f8;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      position: relative;
      height: 26px;
      width: 50px;
      transform: scale(1.3);
      box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #ffffff; }
      .container header .toggleSwitch .label .fa-moon {
        color: #f1c40f; }
      .container header .toggleSwitch .label .fa-sun {
        color: #f39c12; }
      .container header .toggleSwitch .label .ball {
        background-color: #fff;
        box-shadow: inset 5px 5px 10px #c4c4c4, inset -5px -5px 10px #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 22px;
        width: 22px;
        transition: transform 0.2s linear; }
    .container header .toggleSwitch .checkbox:checked + .label .ball {
      transform: translateX(24px); }

.dark .container header .toggleSwitch .label {
  background-color: inherit;
  box-shadow: 5px 5px 8px #0c0c12, -5px -5px 8px #322e46; }
  .dark .container header .toggleSwitch .label .ball {
    background-color: #1f1d2c;
    box-shadow: inset 8px 8px 5px #0c0c12, inset -8px -8px 5px #322e46; }

.dark .container header nav ul.nav li.nav-item a.nav-link {
  background: #1f1d2c;
  box-shadow: 6px 6px 8px #0d0c12, -6px -6px 8px #312e46;
  color: #9998ff; }

.dark .container header nav ul.nav li.nav-item a.nav-link:hover, .dark .container header nav ul.nav li.nav-item .nav-link.active {
  color: #9998ff;
  background-color: #1f1d2c;
  box-shadow: inset 6px 6px 8px #0d0c12, inset -6px -6px 8px #312e46; }
