body {
  font-weight: 500 !important;
  font-size: 16px !important;
  box-sizing: border-box; }

body.dark {
  background: #562a5a; }

.container {
  padding: 0 100px;
  position: relative; }
  .container header nav ul.nav li.nav-item {
    margin-bottom: 15px; }
    .container header nav ul.nav li.nav-item a.nav-link {
      background: #fff;
      color: #7e7e7e; }
    .container header nav ul.nav li.nav-item .nav-link.active {
      color: #7e7e7e;
      border-bottom: 4px solid #FADB5F;
      background: #fff; }
  .container header .toggleSwitch {
    margin-bottom: 2em; }
    .container header .toggleSwitch .checkbox {
      opacity: 0;
      position: absolute; }
    .container header .toggleSwitch .label {
      border: 1px solid #7e7e7e;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      position: relative;
      height: 26px;
      width: 60px;
      transform: scale(1.1); }
      .container header .toggleSwitch .label .fa-moon {
        color: #FADB5F; }
      .container header .toggleSwitch .label .fa-sun {
        color: #FADB5F; }
      .container header .toggleSwitch .label .ball {
        background-color: #7e7e7e;
        border-radius: 50%;
        position: absolute;
        top: 1.5px;
        left: 2px;
        height: 22px;
        width: 22px;
        transition: transform 0.2s linear; }
    .container header .toggleSwitch .checkbox:checked + .label .ball {
      transform: translateX(32px); }

.dark .container header .toggleSwitch .label {
  background-color: #1f1d2c;
  border: 0; }
  .dark .container header .toggleSwitch .label .ball {
    background-color: #7e7e7e; }

.dark .container header nav ul.nav li.nav-item a.nav-link {
  background: #562a5a;
  color: #d2d0d0; }
