body {
  font-weight: 500 !important;
  background-color: #fff4f4 !important;
  font-size: 1.1rem !important;
  box-sizing: border-box;
  background-image: linear-gradient(to top right, #fff0f2 50%, #f3e8ff 50%); }

body.dark {
  background-image: linear-gradient(to top right, #611b5f 50%, #4d3269 50%); }

.container {
  padding: 0 100px;
  position: relative; }
  .container header nav ul.nav li.nav-item {
    margin-bottom: 15px; }
    .container header nav ul.nav li.nav-item a.nav-link {
      margin-right: 20px;
      padding: 0.5rem 1.5rem;
      border-radius: 65px;
      background-color: #f8f8f8;
      box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #ffffff; }
    .container header nav ul.nav li.nav-item a.nav-link:hover, .container header nav ul.nav li.nav-item .nav-link.active {
      color: #3271e6;
      background-color: #f8f8f8;
      box-shadow: inset 5px 5px 4px #d8d8d8, inset -5px -5px 4px #ffffff; }
  .container header .toggleSwitch {
    margin-bottom: 2em; }
    .container header .toggleSwitch .checkbox {
      opacity: 0;
      position: absolute; }
    .container header .toggleSwitch .label {
      background-color: #f8f8f8;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      position: relative;
      height: 26px;
      width: 60px;
      transform: scale(1.1);
      box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #ffffff; }
      .container header .toggleSwitch .label .fa-moon {
        color: #f1c40f; }
      .container header .toggleSwitch .label .fa-sun {
        color: #f39c12; }
      .container header .toggleSwitch .label .ball {
        background-color: #fff;
        box-shadow: inset 5px 5px 10px #c4c4c4, inset -5px -5px 10px #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 22px;
        width: 22px;
        transition: transform 0.2s linear; }
    .container header .toggleSwitch .checkbox:checked + .label .ball {
      transform: translateX(32px); }

.dark .container header .toggleSwitch .label {
  background-color: #1f1d2c;
  box-shadow: 5px 5px 8px #0c0c12, -5px -5px 8px #322e46; }
  .dark .container header .toggleSwitch .label .ball {
    background-color: #1f1d2c;
    box-shadow: inset 8px 8px 5px #0c0c12, inset -8px -8px 5px #322e46; }

.dark .container header nav ul.nav li.nav-item a.nav-link {
  background: #1f1d2c;
  box-shadow: 6px 6px 8px #0d0c12, -6px -6px 8px #312e46;
  color: #9998ff; }

.dark .container header nav ul.nav li.nav-item a.nav-link:hover, .dark .container header nav ul.nav li.nav-item .nav-link.active {
  color: #9998ff;
  background-color: #1f1d2c;
  box-shadow: inset 6px 6px 8px #0d0c12, inset -6px -6px 8px #312e46; }

.container main {
  min-height: 65vh; }
  .container main .profile-container {
    border-radius: 16px;
    margin-top: 8em;
    padding: 15px;
    background: #f8f8f8;
    box-shadow: 12px 12px 12px #d3d3d3, -12px -12px 12px #ffffff; }
    .container main .profile-container .title {
      padding: 30px 20px 0 250px; }
      .container main .profile-container .title h1 {
        font-weight: 700; }
      .container main .profile-container .title p {
        font-weight: 400; }
    .container main .profile-container .social-links {
      padding: 0 20px 0 250px; }
      .container main .profile-container .social-links img {
        border-radius: 50%;
        width: 45px;
        padding: 10px;
        margin: 8px;
        background: linear-gradient(145deg, #ffffff, #dfdfdf);
        box-shadow: 5px 5px 6px #d0d0d0, -5px -5px 6px #ffffff; }
      .container main .profile-container .social-links img:hover {
        background: #f8f8f8;
        box-shadow: inset 5px 5px 6px #d0d0d0, inset -5px -5px 6px #ffffff; }
    .container main .profile-container .skills-container {
      padding: 20px 20px 30px 250px;
      margin: 2em 0; }
      .container main .profile-container .skills-container .skills {
        display: inline-block;
        color: #ff008d;
        padding: 8px 25px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
        border-radius: 24px;
        background: #f8f8f8;
        box-shadow: inset 5px 5px 4px #d8d8d8, inset -5px -5px 4px #ffffff; }
  .container main .circle-outer {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 214px;
    left: 40px;
    border-radius: 139px;
    border-radius: 139px;
    border-radius: 139px;
    border-radius: 139px;
    background: #eef2f5;
    box-shadow: inset 5px 5px 6px #c3c6c9, inset -5px -5px 6px #ffffff; }
    .container main .circle-outer .circle-inner {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: relative;
      top: 16px;
      left: 16px;
      background: #eef2f5;
      box-shadow: 5px 5px 6px #c3c6c9, -5px -5px 6px #ffffff; }
      .container main .circle-outer .circle-inner img {
        width: inherit;
        height: inherit;
        border-radius: 50%; }

@media screen and (max-width: 992px) {
  .social-links {
    padding: 15px 20px 0 235px !important; }
  .skills-container {
    padding: 20px 20px 30px 20px !important;
    margin-bottom: 0; } }

@media screen and (max-width: 767px) {
  main {
    min-height: 67vh !important; }
    main .profile-container {
      margin-top: 3em !important; }
    main .title {
      padding: 30px 20px 0 220px !important; }
    main .social-links {
      padding: 15px 10px 0 10px !important; }
    main .circle-outer {
      top: 190px !important; } }

@media screen and (max-width: 576px) {
  .circle-outer {
    left: 10px !important;
    transform: scale(0.8); }
  .title {
    padding: 30px 0px 0 40% !important; }
    .title p {
      font-size: 1.1rem; } }

body.dark .profile-container {
  background: #1f1d2c;
  box-shadow: 12px 12px 12px #0c0c12, -12px -12px 12px #322e46; }
  body.dark .profile-container .title, body.dark .profile-container p {
    color: #acc3d3; }
  body.dark .profile-container .social-links img {
    background: linear-gradient(145deg, #211f2f, #1c1a28);
    box-shadow: 5px 5px 5px #0c0c12, -5px -5px 5px #322e46; }
  body.dark .profile-container .social-links img:hover {
    background: inherit;
    box-shadow: inset 7px 7px 6px #0c0c12, inset -7px -7px 6px #322e46; }
  body.dark .profile-container .skills-container .skills {
    background: #1f1d2c;
    box-shadow: inset 6px 6px 7px #0c0c12, inset -6px -6px 7px #322e46;
    color: #fd46c5; }

body.dark .circle-outer {
  background: #1f1d2c;
  box-shadow: inset 14px 14px 27px #0c0c12, inset -14px -14px 27px #322e46; }
  body.dark .circle-outer .circle-inner {
    background: #1f1d2c;
    box-shadow: 8px 8px 10px #0c0c12, -8px -8px 10px #322e46; }
