body {
  font-weight: 500 !important;
  background-color: #f8f8f8 !important;
  font-size: 1.2rem !important;
  background: url("/img/waves.png") no-repeat;
  background-size: cover; }

.container {
  padding: 0 100px;
  position: relative; }
  .container header nav ul.nav li.nav-item {
    margin-bottom: 15px; }
    .container header nav ul.nav li.nav-item a.nav-link {
      margin-right: 20px;
      padding: 0.5rem 1.5rem;
      border-radius: 65px;
      background: #f8f8f8;
      box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #ffffff; }
    .container header nav ul.nav li.nav-item a.nav-link:hover, .container header nav ul.nav li.nav-item .nav-link.active {
      color: #3271e6;
      background-color: #f8f8f8;
      box-shadow: inset 5px 5px 4px #d8d8d8, inset -5px -5px 4px #ffffff; }

.container main .profile-container {
  border-radius: 20px;
  margin: 10em 0;
  padding: 15px;
  background: #f8f8f8;
  box-shadow: 7px 7px 14px #d3d3d3, -7px -7px 14px #ffffff; }
  .container main .profile-container .title {
    padding: 30px 20px 0 250px; }
  .container main .profile-container .social-links {
    padding: 0 20px 0 250px; }
    .container main .profile-container .social-links img {
      border-radius: 50%;
      width: 50px;
      padding: 10px;
      margin: 8px;
      background: linear-gradient(145deg, #ffffff, #dfdfdf);
      box-shadow: 5px 5px 6px #d0d0d0, -5px -5px 6px #ffffff; }
    .container main .profile-container .social-links img:hover {
      background: #f8f8f8;
      box-shadow: inset 5px 5px 6px #d0d0d0, inset -5px -5px 6px #ffffff; }
  .container main .profile-container .skills-container {
    padding: 0 20px 30px 250px;
    margin: 2em 0; }
    .container main .profile-container .skills-container .skills {
      display: inline-block;
      padding: 8px 25px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 30px;
      border-radius: 24px;
      background: #f8f8f8;
      box-shadow: inset 5px 5px 4px #d8d8d8, inset -5px -5px 4px #ffffff; }

.container main .circle-outer {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 150px;
  left: 40px;
  border-radius: 139px;
  border-radius: 139px;
  border-radius: 139px;
  border-radius: 139px;
  background: #eef2f5;
  box-shadow: inset 5px 5px 6px #c3c6c9, inset -5px -5px 6px #ffffff; }
  .container main .circle-outer .circle-inner {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 16px;
    left: 16px;
    background: #eef2f5;
    box-shadow: 5px 5px 6px #c3c6c9, -5px -5px 6px #ffffff; }
    .container main .circle-outer .circle-inner img {
      width: inherit;
      height: inherit;
      border-radius: 50%; }

@media screen and (max-width: 992px) {
  .social-links {
    padding: 15px 20px 0 235px !important; }
  .skills-container {
    padding: 0px 20px 30px 20px !important;
    margin-bottom: 0; } }

@media screen and (max-width: 767px) {
  .title {
    padding: 30px 20px 0 220px !important; }
  .social-links {
    padding: 15px 10px 0 10px !important; }
  .circle-outer {
    top: 195px !important; } }

@media screen and (max-width: 524px) {
  .circle-outer {
    left: 10px !important; }
  .title {
    padding: 10px 0px 0 42% !important; } }
