body {
  font-weight: 500 !important;
  background-color: #f8f8f8 !important; }

* {
  background-color: #f8f8f8; }

.container {
  padding: 0 100px;
  position: relative; }
  .container header nav ul.nav li.nav-item {
    margin-bottom: 15px; }
    .container header nav ul.nav li.nav-item a.nav-link {
      margin-right: 20px;
      padding: 0.5rem 1.5rem;
      border-radius: 65px;
      background: #f8f8f8;
      box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #ffffff; }
    .container header nav ul.nav li.nav-item a.nav-link:hover, .container header nav ul.nav li.nav-item .nav-link.active {
      color: #3271e6;
      background-color: #f8f8f8;
      box-shadow: inset 5px 5px 4px #d8d8d8, inset -5px -5px 4px #ffffff; }

main .prj-container {
  margin-top: 6em;
  padding: 15px; }
  main .prj-container .card {
    border-radius: 7px;
    background: #f8f8f8;
    box-shadow: 7px 7px 6px #e2e2e2, -7px -7px 6px #ffffff;
    border: none;
    margin: 40px; }
    main .prj-container .card .card-title {
      padding: 0.3em 0; }
    main .prj-container .card .image {
      border-radius: 7px;
      background: #f8f8f8;
      box-shadow: 7px 7px 6px #e2e2e2, -7px -7px 6px #ffffff;
      padding: 20px; }
    main .prj-container .card .card-body ul {
      font-size: larger;
      font-weight: 460; }
      main .prj-container .card .card-body ul .toggle-text {
        display: none; }
      main .prj-container .card .card-body ul .toggle-txt-btn {
        background: none !important;
        border: none;
        padding: 0 !important;
        outline: none;
        margin-top: 18px;
        color: #0008ff;
        font-weight: 500; }
    main .prj-container .card .card-links a {
      background-color: #e42e9f;
      padding: 5px 8px;
      color: white;
      border-radius: 6px; }
