@import "header";

main {
    .about-container{
        position: relative;
        border-radius: 16px;
        margin: 10em 0;
        padding: 15px;
        background: #f8f8f8;
        box-shadow:  7px 7px 14px #d3d3d3,
                    -7px -7px 14px #ffffff;
        .title {
            padding: 30px 20px 0 250px;
        }

        .desc {
            padding: 20px 140px 50px 250px;
            font-size: 20px;
            font-weight: 400;
            text-align: justify;
            line-height: 1.8;
            letter-spacing: 0.8px;
            p {
                color: #44454a;
            }
        }

        .social-links {
            padding: 0 20px 0 250px;

            a.linkedin {
                position: absolute;
                top: 90px;
                left: 3px;
            }

            a.github {
                position: absolute;
                top: 115px;
                left: 80px;
            }

            a.mail {
                position: absolute;
                top: 90px;
                left: 160px;
            }

            img {
                border-radius: 50%;
                width: 50px;
                padding: 10px;
                margin: 8px;
                background: linear-gradient(145deg, #ffffff, #dfdfdf);
                box-shadow:  5px 5px 6px #d0d0d0,
                            -5px -5px 6px #ffffff;
            }

            img:hover {
                background: #f8f8f8;
                box-shadow: inset 5px 5px 6px #d0d0d0,
                            inset -5px -5px 6px #ffffff;
            }
        }
    }

    .circle-outer{
        border-radius: 50%;
        width: 180px;
        height: 180px;
        position: absolute;
        top: 150px;
        left: 40px;
        border-radius: 139px;
        border-radius: 139px;
        border-radius: 139px;
        border-radius: 139px;
        background: #eef2f5;
        box-shadow: inset 5px 5px 6px #c3c6c9,
                    inset -5px -5px 6px #ffffff;
        
        .circle-inner {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: relative;
            top: 16px;
            left: 16px;
            background: #eef2f5;
            box-shadow:  5px 5px 6px #c3c6c9,
                        -5px -5px 6px #ffffff;

            img {
                width: inherit;
                height: inherit;
                border-radius: 50%;
            }
        }
    }    
}
@media screen and (max-width: 992px){
    main {
        .about-container {
            .title {
                padding: 88px 115px 0 358px;
            }
            .desc {
                padding: 60px 40px 40px 40px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    main {
        .about-container {
            .title {
                padding: 88px 115px 0 293px!important;
            }
        }
    }    
    .circle-outer {
        top: 195px!important;
    }
}

@media screen and (max-width: 576px) {
    main {
        .about-container {
            .title {
                padding: 50px 20px 0px 250px!important;
            }
            .desc {
                font-size: inherit;
            }
        }
    } 
    .circle-outer {
        left: 10px!important;
    }
}
@media screen and (max-width: 518px) {
    main {
        .about-container {
            .title {
                padding: 30px 20px 0px 218px!important;
            }
            .desc {
                padding: 20px 25px 40px 25px;
            }
        }
    } 
}
