body {
    font-weight: 500 !important;
    font-size: 16px !important;
    box-sizing: border-box;
}

body.dark {
    background: #562a5a;
}

.container {
    padding: 0 100px;
    position: relative;

    header {
        nav {
            ul.nav {
                li.nav-item {
                    margin-bottom: 15px;

                    a.nav-link {
                        background: #fff;
                        color: #7e7e7e;
                    }

                    .nav-link.active {
                        color: #7e7e7e;
                        border-bottom: 4px solid #FADB5F;
                        background: #fff;
                    }
                }
            }
        }

        .toggleSwitch {
            margin-bottom: 2em;

            .checkbox {
                opacity: 0;
                position: absolute;
            }

            .label {
                border: 1px solid #7e7e7e;
                border-radius: 50px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;
                position: relative;
                height: 26px;
                width: 60px;
                transform: scale(1.1);

                .fa-moon {
                    color: #FADB5F;
                }

                .fa-sun {
                    color: #FADB5F;
                }

                .ball {
                    background-color: #7e7e7e;
                    border-radius: 50%;
                    position: absolute;
                    top: 1.5px;
                    left: 2px;
                    height: 22px;
                    width: 22px;
                    transition: transform 0.2s linear;
                }
            }

            .checkbox:checked+.label .ball {
                transform: translateX(32px);
            }
        }
    }
}

.dark .container {
    header {
        .toggleSwitch {
            .label {
                background-color: #1f1d2c;
                border: 0;

                .ball {
                    background-color: #7e7e7e;
                }
            }
        }

        nav {
            ul.nav {
                li.nav-item {
                    a.nav-link {
                        background: #562a5a;
                        color: #d2d0d0;
                    }
                }
            }
        }
    }
}