@import "header";

.container {

    main {
        min-height: 68.6vh;

        .profile-container {
            border-radius: 16px;
            margin-top: 8em;
            padding: 15px;
            background: #FADB5F;

            .title {
                padding: 30px 20px 0 250px;

                h1 {
                    font-weight: 700;
                }

                p {
                    font-weight: 400;
                }
            }

            .social-links {
                padding: 0 20px 0 250px;

                img {
                    border-radius: 50%;
                    width: 45px;
                    padding: 10px;
                    margin: 8px;
                    background: linear-gradient(145deg, #ffffff, #dfdfdf);

                    &:last-of-type {
                        margin-left: 0;
                    }
                }

                img:hover {
                    background: #f8f8f8;

                }
            }

            .skills-container {
                padding: 20px 20px 30px 250px;
                margin: 2em 0;

                .skills {
                    display: inline-block;
                    color: #7e7e7e;
                    font-size: 14px;
                    padding: 4px 12px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    border-radius: 30px;
                    border-radius: 24px;
                    background: #f8f8f8;

                }
            }
        }

        .circle-outer {
            border-radius: 50%;
            width: 180px;
            height: 180px;
            position: absolute;
            top: 150px;
            left: 40px;
            border-radius: 139px;
            border-radius: 139px;
            border-radius: 139px;
            border-radius: 139px;
            background: #eef2f5;
            box-shadow: inset 5px 5px 6px #c3c6c9,
                inset -5px -5px 6px #ffffff;

            .circle-inner {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                position: relative;
                top: 16px;
                left: 16px;
                background: #eef2f5;
                box-shadow: 5px 5px 6px #c3c6c9,
                    -5px -5px 6px #ffffff;

                img {
                    width: inherit;
                    height: inherit;
                    border-radius: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .social-links {
        padding: 15px 20px 0 235px !important;
    }

    .skills-container {
        padding: 20px 20px 30px 20px !important;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    main {
        min-height: 72.6vh !important;

        .profile-container {
            margin-top: 3em !important;
        }

        .social-links {
            padding: 15px 10px 0 10px !important;
        }

        .circle-outer {
            top: 150px !important;
        }
    }
}

@media screen and (max-width: 576px) {

    .circle-outer {
        left: 3px !important;
        transform: scale(0.8);
    }

    .title {
        padding: 30px 8px 0 40% !important;

        p {
            font-size: 1.1rem;
        }
    }
}

body.dark {
    .profile-container {
        background: #1f1d2c;

        .title,
        p {
            color: #d2d0d0;
        }

        .social-links {
            img {
                background: #d2d0d0;
            }
        }
    }

    .circle-outer {
        background: #1f1d2c;
        box-shadow: inset 14px 14px 27px #0c0c12,
            inset -14px -14px 27px #322e46;

        .circle-inner {
            background: #1f1d2c;
            box-shadow: 8px 8px 10px #0c0c12,
                -8px -8px 10px #322e46;
        }
    }
}