@import "header";

html,
body {
    overflow-x: hidden;
}

main {
    .prj-container {
        padding: 15px;

        .card {
            border-radius: 7px;
            background: #FADB5F;
            border: none;
            margin: 40px;
            min-height: 650px;

            .card-title {
                padding-bottom: 30px;
            }

            .image {
                border-radius: 7px;
                background: #f8f8f8;
                padding: 20px;
            }

            .card-body {
                color: #484d67;
                padding: 0 1rem;

                ul {
                    font-weight: 400;
                    padding-left: 14px;
                    list-style: none;

                    .toggle-text {
                        display: none;
                    }

                    .toggle-txt-btn {
                        background: none !important;
                        border: none;
                        padding: 0 !important;
                        margin-top: 18px;
                        color: inherit;
                        font-weight: 500;
                        outline: none;
                    }
                }

                ul li::before {
                    content: "\2022";
                    color: rgb(196, 196, 196);
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                    font-size: 2rem;
                }
            }

            .card-links {
                a {
                    .btn {
                        font-weight: 500;

                        .card-icon {
                            background-color: inherit;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    main {
        .prj-container {
            padding: 0;
        }
    }

    .card {
        margin: 25px !important;

        .card-body {
            padding: 0;

            ul {
                font-size: 1.1rem !important;
            }

            ul li {
                position: relative;
            }

            ul li::before {
                position: absolute;
                top: -12px;
                left: 8px;
            }
        }

        .card-links {
            a {
                .btn {
                    font-size: 1rem !important;
                }
            }
        }
    }
}

body.dark {
    .prj-container {
        .card {
            background: #1f1d2c;

            .card-title {
                color: #acc3d3;
            }

            .image {
                background: #f8f8f8;
            }

            .card-body {
                color: #85949e;

                ul {
                    .toggle-txt-btn {
                        color: inherit;
                    }
                }
            }
        }
    }
}