@import "header";

main {
    .container {
        .prj-container {
            border-radius: 20px;
            margin-top: 10em;
            padding: 15px;
            background: #f8f8f8;
            box-shadow:  7px 7px 14px #d3d3d3,
                        -7px -7px 14px #ffffff;

                .card {
                    .card-body {
                        #moretxt {
                            display: none;
                        }
                    }
                }
        }
    }
}

