@import "header";
html, body {
    overflow-x: hidden;
}
body {
    background: url("/img/waves.png") repeat-y;
    background-size: contain;
}
main {
    .prj-container {
        padding: 15px;
            .card {
                border-radius: 7px;
                background: #f8f8f8;
                box-shadow:  7px 7px 6px #e2e2e2,
                            -7px -7px 6px #ffffff;
                            border: none;
                            margin: 40px;
                .card-title {
                    padding-bottom: 30px;
                }
                .image {
                    border-radius: 7px;
                    background: #f8f8f8;
                    box-shadow:  7px 7px 6px #e2e2e2,
                                -7px -7px 6px #ffffff;
                    padding: 20px;
                }
                .card-body {
                    color: #484d67;
                    ul {
                        font-size: larger;
                        font-weight: 400;
                        padding-left: 14px;
                        list-style: none;
                        .toggle-text {
                            display: none;
                        }
                        .toggle-txt-btn {
                            background: none!important;
                            border: none;
                            padding: 0!important;
                            margin-top: 18px;
                            color: inherit;
                            font-weight: 500;
                            outline: none;
                        }
                    }
                    ul li::before {
                        content: "\2022";
                        color: rgb(0, 204, 255);
                        font-weight: bold;
                        display: inline-block; 
                        width: 1em;
                        margin-left: -1em;
                        font-size: 2rem;
                      }
                }
                .card-links {
                    a {
                        .btn {
                            color: white;
                            background-color: #e415b2;
                            font-size: large;
                            border-radius: 7px;
                            border: none;
                            font-weight: 500;
                            .card-icon {
                                background-color: inherit;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
    }
}

@media screen and (max-width:576px){
    main {
        .prj-container {
            padding: 0;
        }
    }
    .card {
        margin: 25px!important;
        .card-body {
            padding: 0;
            ul {
                font-size: 1.1rem!important;
            }
            ul li {
                position: relative;
            }
            ul li::before { 
                position: absolute;
                top: -12px;
                left: 8px;
            }
        }
        .card-links {
            a {
                .btn {
                    font-size: 1rem!important;
                }
            }
        }
    }
}

body.dark {
    .prj-container {
        .card {
            background: #1f1d2c;
            box-shadow:  7px 7px 7px #0c0c12,
                        -7px -7px 7px #322e46;
            .card-title {
                color: #acc3d3;
            }
            .image {
                background: #1f1d2c;
                box-shadow:  7px 7px 7px #0c0c12,
                            -7px -7px 7px #322e46;
            }
            .card-body {
                color: #85949e;
                ul {
                    .toggle-txt-btn {
                        color: inherit;
                    }
                }
            }
        }
    }
}

